<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>The mayday application</title>

		{% stylesheets
			'@SensioLabsMaydayBundle/Resources/assets/*.css'
            'http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css'
            'http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
        {% include "SensioLabsMaydayBundle::header.html.twig" %}

        <div class="container" id="body">
            {% block body '' %}
        </div>

        {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
            'http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js'
            'http://raw.github.com/jashkenas/underscore/master/underscore-min.js'
            'http://raw.github.com/jashkenas/backbone/master/backbone-min.js'
            '@SensioLabsMaydayBundle/Resources/assets/*.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">

            var socket = new mayday.Socket(500)
                .connect('{{ react.host }}', '{{ react.port }}')
                .ping(function (status) {
                    $('#react-status').addClass(status ? 'up' : 'down');
                    $('#users-list').append('<li><a>React server is down :-(</a></li>');
                });

            //var users = new mayday.Users(socket)
            //    .register({{ mayday_user_json(app.user.username) }})
            //    .render($('#users-list'));

        </script>

        {% block javascript '' %}
	</body>
</html>
